!!! 5
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "LinkSaver"

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag

  %body
    .row#spacer
      .small-12.columns
        - if user_signed_in?
          .text-right
            = button_to "Sign Out", destroy_user_session_path, method: :delete
        - flash.each do |name, msg|
          %div{ class: name + " callout", data: { closable: "" }}
            = content_tag :span, msg
            %button.close-button{ "aria-label": "Dismiss alert", data: { close: "" }, type: "button" }
              %span{ "aria-hidden": true } &times;
        = yield
